<div class="comments-form">
<%= form_with model: [@article, @article.comments.build] do |form| %>

    <p><%= form.label :commenter %></p>
    <%= form.text_field :commenter, autofocus: true, required: true, autocomplete: 'title', placeholder: 'Write your name/nikname here..', class: 'input', value: ("#{current_user.first_name} #{current_user.last_name}" if user_signed_in?) %>

    <p><%= form.label :body %></p>
    <%= form.text_area :body, required: true, autocomplete: 'article text', placeholder: 'Write comment text here..', class: 'input big-input' %>
    <div class="bt">
    <%= form.submit nil, class: 'button' %>
  </div>
<% end %>
</div>
