<h1>Главная страница</h1>

<% if user_signed_in? %>
    <% if current_user.first_name? %>
        <% if current_user.last_name? %>
            <span>Hello, <%= current_user.first_name %> <%= current_user.last_name %>!</span>
        <% else %>
            <span>Hello, <%= current_user.first_name %>!</span>
        <% end %>
    <% else %>      
        <span>Hello, <%= current_user.email %></span>
    <% end %>    
    </br><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'%>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %></br>
    <p><a href="/articles/">Go to my articles</a></p>
    <p><a href="/draft/">Go to my drafts</a></p>
<% else %>      
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<p>All articles</p>
Our blog has <%= @articles.count %> articles and counting!
<ul>
  <% @articles.each do |article| %>
    <% unless article.draft? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>