<div class="log-in">
  <div class="container">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div  class="alert">
        <%= alert %>
      </div>

      <div class="field">
        <p><%= f.label :email, class: "legend" %></p>
        <%= f.email_field :email, autofocus: true, required:true, autocomplete: "email", placeholder: "Email", class: "input" %>
      </div>

      <div class="field">
        <p><%= f.label :password, class: "legend" %> </p>
        <%= f.password_field :password, autofocus: true, required:true, autocomplete: "current-password", placeholder: "Password", class: "input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <p>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </p>
        </div>
      <% end %>

      <div class="actions bt">
        <%= f.submit "Log in", class: "button" %>
      </div>

      <p id="fogot"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>

    <% end %>
  </div>
</div>
