<header>
	<nav>
		<ul class="topmenu">
			<%= image_tag "notebook.png", class: "notebook-logo" %> 
      		<li><a><%= link_to "Main page", root_path %></a></li>
      		<li><a href="" class="down">Author</a>
      			<div class="submenu" >
        		<ul>
          			<li><a><%= link_to 'About me', contacts_about_me_path %></a></li>
          			<li><a><%= link_to 'Contact me', contacts_url %></a></li> 
        		</ul>
        		</div>
      		</li>
      		<div class="topmenu-right">
      			<a href="" class="down">
      				<div class="icon-person-circle">
      				<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  						<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  						<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
					</svg>
					</div>
      			</a>
        		<div class="submenu">
        		<ul>
          			<% if user_signed_in? %>                
              			<li><a><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'%></a></li>
              			<li><a><%= link_to 'My articles', articles_path %></a></li>
              			<li><a><%= link_to 'My drafts', draft_path %></a></li>
              			<li><a><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></a></li>
           			<% else %>
              			<li><a><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'%></a></li>
              			<li><a><%= link_to "Log in", new_user_session_path, :class => 'navbar-link'%></a></li>
           			<% end %>
        		</ul>
      		</div>
    	</ul>
  	</nav>
</header>