<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="wrapper">
    <p class="notice"><%= notice %></p>
    <div class="main-content">
      <%= yield %>
    </div>
    </div> 
  </body>
</html>
